.container {
    margin: 0 auto;
    border: auto;
    max-width: 65%;
    background-color: rgb(214, 214, 214);
    border-top-right-radius: 45px;
    border-top-left-radius: 45px;
    padding-bottom: 1%;
      
    }
  
  
    header {
      padding: 2em;
      border-bottom: 1px solid rgb(97, 113, 255);
      background-color: #3e6990;
      margin-bottom: 2%;
      max-width: 60%;
      margin: 1em auto;
      text-align: center;
      color: whitesmoke;
      line-height: 1.4em;
      border-bottom-right-radius: 45px;
      border-bottom-left-radius: 45px;
  }
  
    footer {
      border-top: 2em;
      max-width: 65%;
      margin: 0 auto;
      background: #3e6990;
      color: #fff;
      padding: 1em 0;
      text-align: center;
      
  }
  
  h3 {
    text-decoration: underline;
    
      }

  h2 {
    text-align: center;
        
     }

  
  #bold1 {
    font-weight: 2px;
  
  }

  #icon {
    height: 110px;
    
    
  }
   
  nav {
    margin-top: 15em;
    position: fixed;
    top: 0;
    right: 0;
    width: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
      }
  
  #nav-button
  {
  background-color:#322214; 
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border: 2px solid #3e6990;
  border-bottom-right-radius: 45px;
  border-bottom-left-radius: 45px;
  margin-top: 30px;
  }
  
  body {
    font-family: sans-serif;
    line-height: 1.618em;
    box-sizing: boder-box;
    margin: 2%;
    padding: 0;
  
    background-image: url("./images/space-3197606_1920.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
  }
  
  .projectContent {
      
    max-width: 100%;
    background-color: rgb(243, 237, 237)
  }
  
  section {
  margin: 1em 0;
  padding-top: 1em;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 1%;
  min-height: 20em;
  
  }
  
    #projects {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      grid-column-gap: 1em;
      grid-row-gap: 1em;
      justify-content: center;
      
    }

    #projects article {
      background: rgb(255, 255, 255);
      padding: 1em;
    }

    .image {
      height: 184px;
      border: 1px solid #333;
      padding: 7%;

      }
   
    #contact {
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      grid-template-rows: auto;
      grid-column-gap: 1em;
      grid-row-gap: 1em;
      justify-content: center;
      
              
     }

     /*Card Flip*/

     #f1_container {
      position: relative;
      margin: 10px auto;
      width: auto;
      height: 250px;
      z-index: 1;
    }
    #f1_container {
      perspective: 1000;
    }
    #f1_card {
      width: 100%;
      height: 100%;
      transform-style: preserve-3d;
      transition: all 1.0s linear;
    }
    #f1_container:hover #f1_card {
      transform: rotateY(180deg);
      box-shadow: -5px 5px 5px #aaa;
    }
    .face {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
    }
    .face.back {
      display: block;
      transform: rotateY(180deg);
      box-sizing: border-box;
      padding: 5px;
      color: white;
      text-align: center;
      background-color: #5e778e;
    }

   

    

    
    
    

