.container {
    margin: 0 auto;
    border: auto;
    max-width: 65%;
    background-color: rgb(214, 214, 214);
    border-top-right-radius: 45px;
    border-top-left-radius: 45px;
    border-bottom-right-radius: 45px;
    border-bottom-left-radius: 45px;
      
    }
  
  
    header {
      padding: 2em;
      border-bottom: 1px solid rgb(97, 113, 255);
      background-color: rgb(74, 99, 116);
      margin-bottom: 2%;
      max-width: 65%;
      margin: 1em auto;
      padding: 1em 0;
      text-align: center;
      color: whitesmoke;
      line-height: 1em;
      border-bottom-right-radius: 45px;
      border-bottom-left-radius: 45px;
  }
  
    footer {
      border-top: 2em;
      margin-bottom: 1em;
      max-width: 65%;
      margin: 0 auto;
      background: rgb(74, 99, 116);
      color: #fff;
      padding: 1em 0;
      text-align: center;
      border-top-right-radius: 45px;
      border-top-left-radius: 45px;
  }
  
  h3 {
    text-decoration: underline;
    
      }

  
  #bold1 {
    font-weight: 2px;
  
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    padding: .5em 2em;
    
  }
  
  nav a:hover{
    background: #666;
  }
  
  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    background: #333;
  }
  
  body {
    font-family: sans-serif;
    line-height: 1.618em;
    box-sizing: boder-box;
    margin: 2%;
    padding: 0;
  
    background-image: url("./images/space-3197606_1920.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
  }
  
  .projectContent {
      
    max-width: 100%;
    background-color: rgb(243, 237, 237)
  }
  
  section {
  margin: 1em 0;
  padding-top: 1em;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 1%;
  min-height: 20em;
  
  }
  
  section > p{
    margin: 1em 0;
    }
  
    #projects {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
      grid-column-gap: 1em;
      justify-content: center;
      
    }

    #projects article {
        background: rgb(255, 255, 255);
        padding: 1em;
    }

    img{
        width: 100%;
        border: 1px solid #333;
    }

    #contact img {
      width: 50%;
      align-items: left;
  }

    
    

